HauteEnergie/Data/data_info_fermi/lat_spacecraft_weekly_w015_p310_v001.fits
HauteEnergie/Data/data_info_fermi/lat_spacecraft_weekly_w015_p310_v001.fits:Zone.Identifier
HauteEnergie/Data/data_info_fermi/lat_spacecraft_weekly_w016_p310_v001.fits
HauteEnergie/Data/data_info_fermi/lat_spacecraft_weekly_w016_p310_v001.fits:Zone.Identifier
HauteEnergie/Data/data_info_fermi/lat_spacecraft_weekly_w148_p310_v001.fits
HauteEnergie/Data/data_info_fermi/lat_spacecraft_weekly_w148_p310_v001.fits:Zone.Identifier
HauteEnergie/Data/data_info_fermi/lat_spacecraft_weekly_w149_p310_v001.fits
HauteEnergie/Data/data_info_fermi/lat_spacecraft_weekly_w149_p310_v001.fits:Zone.Identifier
HauteEnergie/Data/data_info_fermi/lat_spacecraft_weekly_w749_p310_v001.fits
HauteEnergie/Data/data_info_fermi/lat_spacecraft_weekly_w749_p310_v001.fits:Zone.Identifier
HauteEnergie/Data/data_info_fermi/lat_spacecraft_weekly_w750_p310_v001.fits
HauteEnergie/Data/data_info_fermi/lat_spacecraft_weekly_w750_p310_v001.fits:Zone.Identifier
HauteEnergie/Data/data_ouput/w15-w16
HauteEnergie/Data/source_observation/lat_photon_weekly_w015_p305_v001.fits
HauteEnergie/Data/source_observation/lat_photon_weekly_w016_p305_v001.fits
HauteEnergie/Data/source_observation/lat_photon_weekly_w148_p305_v001.fits
HauteEnergie/Data/source_observation/lat_photon_weekly_w149_p305_v001.fits
HauteEnergie/Data/source_observation/lat_photon_weekly_w749_p305_v001.fits
HauteEnergie/Data/source_observation/lat_photon_weekly_w750_p305_v001.fits
HauteEnergie/Instrumentation hautes energies (T. Reposeur)-20230208/gtbin.par
HauteEnergie/Instrumentation hautes energies (T. Reposeur)-20230208/gtexposure.par
HauteEnergie/Instrumentation hautes energies (T. Reposeur)-20230208/gtselect.par
HauteEnergie/Instrumentation hautes energies (T. Reposeur)-20230208/lat_photon_3c454.3_e100-300000_roi15_LC.fits
HauteEnergie/Instrumentation hautes energies (T. Reposeur)-20230208/lat_photon_3c454.3_e100-300000_roi15.fits
HauteEnergie/Instrumentation hautes energies (T. Reposeur)-20230208/installation-wsl.docx
HauteEnergie/Instrumentation hautes energies (T. Reposeur)-20230208/introduction-haute-energie-astro-gamma-2022-2023.pdf
HauteEnergie/Instrumentation hautes energies (T. Reposeur)-20230208/HE-Fermi-LAT-le-detecteur-2022-2023.pdf
HauteEnergie/Instrumentation hautes energies (T. Reposeur)-20230208/questions-exo-astrogamma-2022-2023.pdf
HauteEnergie/Instrumentation hautes energies (T. Reposeur)-20230208/tp-analyse-he-2022-2023.pdf
HauteEnergie/w749-750/gtselect/lat_photon_weekly_w749_p305_v001_c_zmax100.fits
HauteEnergie/w749-750/gtselect/lat_photon_weekly_w750_p305_v001_c_zmax100.fits
HauteEnergie/Script/__pycache__/ClementAnalyse.cpython-39.pyc
.idea/WSL_FERMI.iml
.idea/vcs.xml
.idea/other.xml
.idea/modules.xml
.idea/misc.xml
gtselect.par
gtbin.par
.idea/inspectionProfiles/profiles_settings.xml
HauteEnergie/tp-analyse-he-2022-2023.pdf
HauteEnergie/doc/cours/HE-Fermi-LAT-le-detecteur-2022-2023.pdf
HauteEnergie/doc/cours/Document 2023-02-08T11_55_00.docx
HauteEnergie/Instrumentation hautes energies (T. Reposeur)-20230208/astro-gamma-intro-detection-2022-2023.pdf
HauteEnergie/doc/cours/40-10_08_février_2023_1.jpg
